<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MultiFaceRec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <MultiFaceRec.Properties.Settings>
            <setting name="textbox" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="combobox" serializeAs="String">
                <value />
            </setting>
            <setting name="checkbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="theclass" serializeAs="String">
                <value />
            </setting>
            <setting name="themodule" serializeAs="String">
                <value />
            </setting>
            <setting name="rectcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="namecolor" serializeAs="String">
                <value />
            </setting>
            <setting name="theCameraNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="in12HrFormat" serializeAs="String">
                <value>False</value>
            </setting>
        </MultiFaceRec.Properties.Settings>
    </userSettings>
</configuration>
